/*Now the CSS*/
.tree {
  font-family: 'Avenir Book', sans-serif;
  width: 90vw;
}

.tree ul {
  width: 75vw;
  padding-top: 20px;
  margin: 0 auto; 
  position: relative;
  display: flex;
  
  transition: ease-in-out 1.5s;
  -webkit-transition: ease-in-out 1.5s;
  -moz-transition: ease-in-out 1.5s;
}

.tree li {
  /* border-radius: 50%; */
  display: flex;
  flex-direction: column;
  position: relative;
  float: left; 
  text-align: center;
  list-style-type: none;
  padding: 20px 5px 0 5px;
  
  transition: ease-in-out 1.5s;
  -webkit-transition: ease-in-out 1.5s;
  -moz-transition: ease-in-out 1.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::after {
  box-sizing: border-box;
  content: '';
  position: absolute; top: 0; right: 5%;
  border-top: 1.5px solid #ccc;
  width: 105%; height: 20px;
}

/* Line that shows similar (sibiling) relationship*/

.tree li.prev-selected::after {
  content: "";
  position: "absolute";
  border-top:1.5px solid #ccc;
  border-radius: 1px;
  width: 30px; height: 30px;
  right: 40%;
  top: 60px;
}

/* Node that has previous leaders before him (The first vertical line)*/

.tree li.prev-bosses::before {
  content: "";
  position: absolute;
  top: -5%; right: 50%;
  height: 30px; width: 0;
  border-right: 1.5px solid #ccc;
}

/*Time to add downward connectors from parents*/
.tree ul.selected::before {
  content: '';
  position: absolute; top: 0; left: 50%;
  border-left: 1.5px solid #ccc;
  width: 0; height: 20px;
}

.tree ul ul ul {
  max-width:150px;
}

/*******************************/

.tree li a{
  padding: 5px 0px;
  text-decoration: none;
  color: #666;
  font-family: 'Fira Sans', sans-serif;
  font-size: 12px;
  display: inline-block;
  
  transition: ease-in-out 1.5s;
  -webkit-transition: ease-in-out 1.5s;
  -moz-transition: ease-in-out 1.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
/* .tree li a:hover , .tree li a:hover+ul li a {
  background: #ea1519; color: #fff; border: 1px solid #ea1519;
} */

.tree li a:hover > img {
  border: 2px solid rgb(160, 160, 160);
}

.tree li a:hover {
  transform: scale(1.1, 1.1);
}

/*Connector styles on hover*/
/* .tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before {
  border-color:  #ea1519;
} */

.tree li a {
  align-self: center;
  max-width:110px;
}
.tree li a img {
  padding: 2px;
  margin: 0 auto;
  max-width: 80px;
  margin-bottom:5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;  
}